.full-page{
    width: 100vw;
    height: 400vh;
    background-color: #0A040F;
    font-size: 20px;
    font-weight: 500;
}

.grid{
    display: flex;
}

.reconfigure{
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
}
.welcome-section{
    height: 35px;
    width: 100%;
    /* background-color: rgb(0, 48, 48); */
    align-items: center;
    display: flex;
    padding-top: 5vh;
    color: white;
    font-size: 20px;
}

.welcome{
    padding-left: 20px ;
    width: 40vw;
}
.search-notif{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: right;
    margin-right: 0px;
}

.search-section{
    display: flex;
    align-items: center;
    background-color: #1c1c1cef ;
    padding: 8px;
    border-radius: 10px;
}

.search-input{
    width: 100%;
    height: 19px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 6px;
    font-size: 20px;
}
.search-input:focus{
    outline: none;
}


.userinfo{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    width: 30vw;
    justify-content: right;
}

.grid2{
    display: flex;
    flex-direction: row;
    height: 88%;
    /* background-color: antiquewhite; */
    margin-top: -27.8vh;
    margin-left: 240px;
}